<div class="card-container">
		 <mat-card *ngIf="showProduct" class="product-card">
				<mat-card-header>
						<mat-card-title><h1><a class="mat-h1" href="/product/{{product.slug}}" routerLink="/product/{{product.slug}}" routerLinkActive="router-link-active" >{{ product.name }}</a></h1></mat-card-title>
						<mat-card-subtitle><h2>{{ product.sku }}</h2></mat-card-subtitle>
				</mat-card-header>
				<ng-container *ngIf="product?.images.length > 0"><img matCardImage src="{{product.images[0].src}}" routerLink="/product/{{product.slug}}"></ng-container>		
				<mat-card-content [innerHtml]="product.description">
				</mat-card-content>
				<mat-card-actions align="end">
						<button mat-raised-button color="primary">Buy</button>					
				</mat-card-actions>
		</mat-card>
	</div>

	<div class="vms-spinner-ctr" [hidden]="!showSpinner">
    <mat-spinner color="primary" [diameter]="52" class="vms-spinner"></mat-spinner>
  </div>



